<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Song Information</title>
</head>
<body>
<form action="/musicDesignList/create" method="post" th:object="${musicDesign}">
    <fieldset>
        <legend>Music Design Information</legend>
        <p th:text="${mess}" style="color:green;"></p>
        <input type="hidden" name="id" th:field="*{id}">
        <table>
            <tr>
                <td>Name Of The Song</td>
                <td>
                    <input type="text" name="nameOfTheSong" th:field="*{nameOfTheSong}">
                </td>
            </tr>
            <tr>
                <td>Singer</td>
                <td>
                    <input type="text" name="singer" th:field="*{singer}">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Create">
                </td>
            </tr>
        </table>
    </fieldset>
</form>
<a href="/musicDesignList">Back to list</a>.
</body>
</html>