<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Music List</title>
    <style>
        table {
            border: 1px solid #000;
        }

        th, td {
            border: 1px dotted #555;
        }
    </style>
</head>
<body>
<a href="/musicDesignList/create-musicDesign">CREATE NEW MUSIC DESIGN</a>
<h1>Music Design</h1>
<table border="2">
    <tr>
        <th>Id</th>
        <th>Name Of The Song</th>
        <th>Singer</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each = "musicDesign: ${musicDesignList}"></th:block>
    <tr>
        <td th:text="${musicDesign.id}"></td>
        <td th:text="${musicDesign.nameOfTheSong}"></td>
        <td th:text="${musicDesign.singer}"></td>
        <td><a th:href="@{/musicDesign/{id}(id=${musicDesign.id})}" >Edit</a></td>
        <td><a th:href="@{/musicDesign/delete/{id}(id=${musicDesign.id})}" >Delete</a></td>
    </tr>
</table>
</body>
</html>