<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/blogcss.css">
</head>
<body>
<div>
    <div class="container">
            <h2 class="text-center text-decoration-underline text-primary"> BLOG LIST</h2>

        <h4 class="text-success" th:text="${#messages}"></h4>


        <div class="margin25-0 ">
            <a class="addnew" href="/createnewblog"> Create new blog</a>
        </div>
        <table class="table table-striped table-hover">
            <tr class="bg-primary text-white fw-bold text-white">
                <td> Author</td>
                <td> Blog Title</td>
                <td>Category</td>
                <td colspan="3"> Action</td>
            </tr>
            <tr th:each="myBlog: ${blog}">
                <td th:text="${myBlog.authorName}"></td>
                <td th:text="${myBlog.title}"></td>
                <td th:text="${myBlog.content}"></td>
                <td th:text="${myBlog.category.name}"></td>
                <td><a class="text-decoration-none text-primary fw-bold" th:href="@{{id}/read/(id=${myBlog.id})}">
                    Read </a></td>
                <td><a class="text-decoration-none text-warning fw-bold" th:href="@{{id}/update/(id=${myBlog.id})}">
                    Update </a></td>
                <td><a class="text-decoration-none text-danger fw-bold" th:href="@{{id}/delete/(id=${myBlog.id})}">
                    Delete </a></td>

            </tr>
        </table>
    </div>
    <div>
        <a th:href="@{'/list'(page=${blog.number - 1}, name=${name}, categoryId=${categoryId})}"
           th:if="${blog.hasPrevious()}">Previous</a>
        <span th:text="${blog.number + 1}"></span>/<span th:text="${blog.totalPages}"></span>
        <a th:href="@{'/list'(page=${blog.number + 1}, name=${name}, categoryId=${categoryId})}"
           th:if="${blog.hasNext()}">Next</a>
    </div>
</div>
<script src="js/bootstrap.js"></script>
</body>
</html>